.card {
  float: left;
  border: solid 3px black;
  width: 100px;
  border-radius: 5px;
  height: 140px;
  margin-right: 20px;
  box-shadow: 5px 5px grey;
}

.covered {
  background-color: black;
}

.hand {
  overflow: auto;
}

button {
	cursor: pointer;

}